DB_NAME=cybergarden
DB_IP=postgres
DB_PORT=5432
DB_PASSWORD=aeboba
DB_USER=postgres
DB_LOGGING=false

BI_SERVICE_URL=localhost:8082
# BI_SERVICE_URL=bi-service:8082
ML_SERVICE_URL=localhost:8001
# ML_SERVICE_URL=ml-service:8001


BACKEND_PORT=3000
FRONTEND_HOST=localhost:4200


FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# BI service
GEMINI_API_KEY=
BI_LLM_MODEL=gemini-1.5-pro
BI_DB_HOST=postgres
BI_DB_PORT=5432
BI_MAX_ROWS=200


# Sentry
SENTRY_DSN=https://df9fab96c5568b05246ad3920b77cb5f@sentry.k-lab.su/2
SENTRY_ENVIRONMENT=local
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_DEBUG=false
SENTRY_RELEASE=
