DB_NAME=cybergarden
DB_IP=postgres
DB_PORT=5432
DB_PASSWORD=aeboba
DB_USER=postgres
DB_LOGGING=false


BACKEND_PORT=3000
FRONTEND_HOST=localhost:4200


FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=